<!-- PAGE: Feedback Submitted -->
<!-- FILE: feedback-submitted.ejs -->

<%- include('header'); -%>

    <!-- Navbar -->
    <%- include('navbar'); -%>

        <main class="content">
            <section class="container px-5 mt-5">
                <div class="mb-5">
                    <h2 class="text-dark mb-0 fw-bold">Thank you for your feedback!</h2>
                    <p class="text-muted">We appreciate your feedback. We will use it to improve our site.</p>
                </div>
            </section>
        </main>

        <%- include('footer'); -%>